/* resume.css for OnlineResume
 * Timothy Raquet 2018
 */
html, body {
    margin: 0;
    padding: 0;
}

/* navigation menu */
header {
    background: black;
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

nav ul {
    padding: 5px;
    list-style: none;
}

nav ul li {
    padding-left: 10px;
    display: inline-block;
}

/* link elements in navigation menu */
nav ul a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
	font-style: normal;
	font-variant: normal;
}


nav ul a:hover {
    font-weight: bold;
}