/* resume.css for OnlineResume
 * Timothy Raquet 2018
 */
html, body {
    margin: 0;
    padding: 0;
}

/* navigation menu */
header {
    background: black;
    margin: 0 auto;
    width: 100%;
}

nav {
    margin: 0;
}

nav ul {
    margin-top: 0;
    padding-top: 0;
    padding: 5px;
    list-style: none;
}

nav ul li {
    padding-left: 10px;
    display: inline-block;
}

/* link elements in navigation menu */
nav ul a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
	font-style: normal;
	font-variant: normal;
}


nav ul a:hover {
    font-weight: bold;
}

main img {
    padding-left: 10px;
    padding-right: 10px;
    float:left;
}

main section {
}

main section h1 {
    font-weight: bold;
}

footer {
    position: fixed;
    background: black;
    color: white;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    bottom: 0;
    font-family: Verdana;
	font-style: normal;
	font-variant: normal;
}